* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.title {
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    text-transform: uppercase;
    color: #2C4058;
    text-align: center;
    margin-bottom: 80px;
}

.title:before {
    width: 100px;
    background: #2C4058;
    height: 1px;
    position: relative;
    display: block;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
    margin-top: 100px;
}

.img-first {
    width: 100%;
}

.img-first:hover {
    filter: drop-shadow(0 0 5px #2C4058);
}

.col-md-3 img {
    width: 100%;
    margin-bottom: 25px;
}

.col-md-3 img:hover {
    filter: drop-shadow(0 0 5px #2C4058);
}

.block {
    margin-bottom: 115px;
}

.btn {
    text-align: center;
    justify-content: center;
}

.btn button {
    /* border: none; */
    border: 1px solid #2C4058;
    color: #2C4058;
    background-color: white;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    padding: 17px 62px;
    outline: none;
    cursor: pointer;
}

.btn button:hover {
    color: white;
    background-color: #2C4058;
}